/* ========= Mobile <= 600 ========== */
body {
  background-color: red;
}
@media (max-width: 600px) {
  .menu {
    display: none;
  }
  .toolbox > .icon:first-child {
    display: none;
  }
}
/* ========= Tablet <= 900 ========== */
