/* ======= Google fonts - Roboto ======= */
@import url("https://fonts.googleapis.com/css?family=Roboto:400");

/* ======================
  General 
 ===================== */
:root {
  --body-bg: #f1f1f1;
  --gray: #3a3a3a;
  --gray-additional: #787885;
  --pink: #e02c6d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 100%; /*16px*/
}
a {
  text-decoration: none;
}
body {
  background: var(--body-bg);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}
button,
.btn {
  background-color: var(--pink);
  font-family: "Roboto", sans-serif;
  padding: 0.8rem 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.25px;
  color: #dfe5ec;
  border: 0;
  border-radius: 0.3rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
}
button > .hover-effect,
.btn > .hover-effect {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #22213c;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
button:hover,
.btn:hover {
  cursor: pointer;
}
button:hover > .hover-effect,
.btn:hover > .hover-effect {
  left: 0;
}
main {
  max-width: 1047px;
  margin: 0 auto;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}
header,
section {
  padding: 3rem 1.5rem;
}

.go-to-top {
  position: sticky;
  bottom: 1rem;
  left: calc(100% - 2.5rem);
  width: 2.5rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
}

.go-to-top > .hover-effect {
  bottom: 0;
  left: 0;
  top: 100%;
}

.go-to-top:hover .hover-effect {
  top: 0;
}
.section-title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}

/* ======================
  Header
 ===================== */
header,
.main-navigation {
  max-width: 1200px;
  margin: 0 auto;
}
/* ============== Navigation ============ */
.main-navigation {
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
  margin-top: 3rem;
  background-color: var(--body-bg);
}
.menu-drawer {
  display: none;
}
.logo > h4 {
  margin: 0;
  color: var(--gray);
  font-weight: 500;
  letter-spacing: 0.25px;
  font-weight: 500;
}
.logo > h4 > span {
  color: var(--pink);
}

.menu {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.menu > a {
  display: inline-block;
  color: var(--gray);
  font-weight: 600;
  padding: 1rem 1.5rem;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.menu > a:focus,
.menu > a:hover,
.menu > a:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.toolbox {
  display: flex;
  align-items: center;
}
.menu-drawer > i,
.toolbox > .icon {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  line-height: 3;
  color: #18191f;
  text-align: center;
  transition: all 0.3s ease;
}
.menu-drawer > i {
  border-width: 1px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.2);
}
.toolbox > .icon:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

/* ======================
  Banner
 ===================== */
.banner {
  display: flex;
  align-items: center;
  padding: 3rem 0;
}
.banner > div {
  flex-basis: 50%;
  max-width: 50%;
}
.banner-title {
  font-weight: 700;
}
.banner-lead-text {
  font-weight: 600;
  font-size: calc(1rem + 2px);
  letter-spacing: 0.25px;
}
.banner-btn {
  padding: 0.9rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  border: 0;
}
.banner-btn > i {
  margin-left: 0.5rem;
}

.banner-btn:hover {
  cursor: pointer;
}

/* ========== Banner Image ============ */
.banner-image {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  background-image: url(images/Circle.svg);
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
}
.banner-image > img {
  max-width: 70%;
  height: auto;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.banner-image:hover > img {
  transform: rotate3d(0.5, -0.5, 1, 55deg);
}

/* ======================
  Company Logos
 ===================== */
.company-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dfe5ec;
  border-bottom: 1px solid #dfe5ec;
  margin-top: 5rem;
  height: 110px;
  padding: 0 2rem;
}
.company-logos > img {
  max-height: 40px;
}

/* ===========================
  Gadgets Section
============================ */
.gadget-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 2rem;
}
.gadget-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.2);
}
.gadget-image {
  max-width: 100%;
}
.gadget-title {
  margin: 1.5rem 0 1rem;
}
.gadget-price {
  margin: 0 0 1rem;
}
.gadget-rating {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.gadget-rating > i {
  color: #fb8200;
}
.gadget-rating > span {
  color: var(--gray-additional);
  margin-left: 1rem;
  font-weight: 600;
}

.gadget-card > .additional-info {
  list-style-type: none;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.gadget-card > .additional-info > li {
  color: var(--gray-additional);
}

/* ===========================
  Categories 
 ============================= */
.category-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.category-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 2px solid #dfe5ec;
  border-radius: 0.3rem;
}
.category-card:nth-child(3),
.category-card:nth-child(4) {
  flex-direction: row-reverse;
}
.category-card > div {
  flex-basis: 50%;
}
.category-card-content {
  padding: 1.5rem;
}
.category-card-content > h6 {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--pink);
  margin: 0;
  position: relative;
  padding-left: 1rem;
}
.category-card-content > h6::before {
  content: "";
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--pink);
  margin-left: -1rem;
  margin-top: 2.5px;
}
.category-card-content > h4 {
  margin: 0 0 1rem 0;
}
.category-card-content > button {
  padding: 0.5rem 0.8rem;
  text-transform: lowercase;
  font-weight: 400;
}
.category-card-image {
  align-self: stretch;
}
.category-card-image > img {
  max-width: 100%;
  height: 100%;
}
/* ===========================
  Newsletter 
 ============================= */
.newsletter {
  text-align: center;
}
.newsletter > h5 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--pink);
}
.newsletter > h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}
.newsletter p {
  font-weight: 600;
  letter-spacing: 0.5px;
}
.newsletter-form {
  margin-top: 2rem;
}
.newsletter-form > input {
  border: 2px solid #dfe5ec;
  border-radius: 0.3rem;
  color: var(--pink);
  padding: 0.8rem 1.2rem;
  width: 400px;
  margin-right: -5px;
  letter-spacing: 0.15px;
}
.newsletter-form > input:focus {
  border-color: var(--pink);
}
.btn-newsletter > i {
  margin-right: 0.5rem;
}

/* ===========================
  Footer
 ============================= */
footer {
  text-align: center;
  padding: 1.5rem;
  background-color: #0a0826;
  color: #d9dbe1;
  margin-top: 3rem;
}
footer > small {
  line-height: 1;
}
footer > h4 {
  margin: 0.5rem 0;
}
.footer-icons {
  margin-top: 1rem;
}
.footer-icons > .icon {
  display: inline-block;
  color: inherit;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #22213c;
  line-height: 2.15;
  margin-right: 0.3rem;
  transition: all 0.2s ease;
}
.footer-icons > .icon:hover {
  cursor: pointer;
  color: var(--pink);
}

/* =========== ======================
          Media Queries 
================ ================= */

/* ========= Mobile <= 600 ========== */
@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  .main-navigation {
    justify-content: space-between;
    margin-top: 1rem;
  }
  .menu-drawer {
    display: block;
  }
  .menu {
    display: none;
  }
  .toolbox > .icon:first-child {
    display: none;
  }

  /* ============ Banner ============ */
  .banner {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 2rem 0;
  }
  .banner > div {
    flex-basis: 100%;
    max-width: 100%;
  }
  .banner-image {
    margin-bottom: 2rem;
  }

  /* ========== Company Logos =========== */
  .company-logos {
    display: none;
  }

  /* ========= Gadgets Section ============== */
  .gadget-cards {
    grid-template-columns: 1fr;
  }

  /* ======== Categories Section ========= */
  .category-cards {
    grid-template-columns: 1fr;
  }
  .category-card:nth-child(3),
  .category-card:nth-child(4) {
    flex-direction: row;
  }
  .category-card:nth-child(even) {
    flex-direction: row-reverse;
  }

  /* ======= Newsletter Form ============ */
  .newsletter-form > input {
    width: 250px;
    margin-bottom: 1rem;
  }
}
/* ========= Tablet <= 900 ========== */
@media (min-width: 600.01px) and (max-width: 900px) {
  html {
    font-size: 14px;
  }
  /*===== Banner ====== */
  .banner {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 2rem 0;
  }
  .banner > div {
    flex-basis: 100%;
    max-width: 100%;
  }
  .banner-image {
    margin-bottom: 3rem;
  }
  .banner-info {
    width: 80%;
    margin: 0 auto;
  }

  /* ======= Company images ====== */
  .company-logos {
    display: none;
  }

  /* ========= Gadget Cards =========== */
  .gadget-cards {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}
