/* ======= Google fonts - Roboto ======= */
@import url("https://fonts.googleapis.com/css?family=Roboto:400");

/* ======= General ======= */
:root {
  --body-bg: #f1f1f1; /* body background */
  --white: #ffffff; /* card background */
  --gray: #3a3a3a; /* header and menu item color */
  --gray-additional: #787885; /* card description color*/
  --gray3: #5e6366; /* rating text color */
  --black: #000000; /* card title color */
  --gray2: #18191f; /* cart, menu icon and price color */
  --orange: #fb8200; /* rating icon color */
  --pink: #e02c6d; /* Button */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 100%; /*16px*/
}

body {
  background: var(--body-bg);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}
main {
  max-width: 1047px;
  margin: 0 auto;
}
p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}
header,
section {
  padding: 3rem 1.5rem;
}
/* ======== Header ======== */
header {
  max-width: 1200px;
  margin: 0 auto;
}
/* Navigation */
.main-navigation {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}
.logo > h4 {
  margin: 0;
  color: var(--gray);
  font-weight: 500;
  letter-spacing: 2;
}

.menu {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.menu > a {
  display: inline-block;
  color: var(--gray);
  font-weight: 600;
  padding: 1rem 1.5rem;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.menu > a:focus,
.menu > a:hover,
.menu > a:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.toolbox {
  display: flex;
  align-items: center;
}
.toolbox > .icon {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  line-height: 3;
  color: var(--gray2);
  text-align: center;
  transition: all 0.3s ease;
}
.toolbox > .icon:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Banner */
.banner {
  display: flex;
  align-items: center;
  padding: 3rem 0;
}
.banner > div {
  flex-basis: 50%;
  max-width: 50%;
}
.banner-title {
  font-weight: 700;
}
.banner-lead-text {
  font-weight: 500;
  letter-spacing: 0.25px;
}
.banner-btn {
  background-color: var(--pink);
  padding: 0.8rem 1.3rem;
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1.25px;
  border: 0;
}
.banner-btn > i {
  margin-left: 0.5rem;
}

.banner-btn:hover {
  cursor: pointer;
}

/* Banner Image */
.banner-image {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  background-image: url(images/Circle\ design.svg);
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
}
.banner-image > img {
  max-width: 70%;
  height: auto;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.banner-image:hover > img {
  transform: rotate3d(0.5, -0.5, 1, 55deg);
}
/* Company Logos */
.company-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dfe5ec;
  border-bottom: 1px solid #dfe5ec;
  margin-top: 5rem;
  height: 110px;
  padding: 0 2rem;
}
.company-logos > img {
  max-height: 40px;
}

/* ================
  Gadgets Section
=================== */
.section-title {
  text-align: center;
  margin-bottom: 3rem;
}
.gadget-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 2rem;
}
.gadget-card {
  background-color: var(--white);
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.2);
}
.gadget-image {
  max-width: 100%;
}
.gadget-title {
  margin: 1.5rem 0 1rem;
}
.gadget-price {
  margin: 0 0 1rem;
}
.gadget-rating {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.gadget-rating > i {
  color: var(--orange);
}
.gadget-rating > span {
  color: var(--gray-additional);
  margin-left: 1rem;
  font-weight: 600;
}

.gadget-card > .additional-info {
  list-style-type: none;
  font-weight: 600;
}

.gadget-card > .additional-info > li {
  color: var(--gray-additional);
  font-weight: 500;
}

/* Footer */
footer {
  text-align: center;
  padding: 2rem;
  background-color: var(--black);
  color: #d9dbe1;
}

footer > h4 {
  margin: 0 0 0.5rem;
}

.footer-icons {
  margin-top: 1rem;
}
.footer-icons > .icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--gray);
  line-height: 2.15;
  margin-right: 0.3rem;
}
